.Rproj.user
data
inst/doc
fxtas-PHS-Z1610005F.Rproj
-PHS-Z1610005F.Rhistory
misc
output
output.FXTAS
output*
vignettes/output*
*.rmarkdown
*_files/
fxtas.Rcheck/
fxtas*.tar.gz
fxtas*.tgz
miniconda
.Rhistory
/.quarto/
data-raw/logs
data-raw/out
_freeze
